<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% unless pedido_atual.blank?  %>

<p>
  O seu carrinho contem <%= pedido_atual.quantidade_total %> produtos.
  <br />
  <%= link_to "ver lista", "javascript:void(0)", :onclick => "jQuery('#carrinho_lista').toggle()" %>
</p>

<ul id="carrinho_lista" style ="display: none;">
  <% pedido_atual.itens.each do |item| %>
    <li> <%= item.produto.nome %> - <%= item.quantidade %> </li>
  <%end%>
</ul>
<% end %>
